/* CSS Custom Properties */
:root, .light-mode {
    --bg-color: #fafafa;
    --grid-bg-color: #e4e5f1;
    --h1-color: #484b6a;
    --x-color: #484b6a;
    --o-color: #9394a5;
}

.dark-mode {
    --bg-color: #102a43;
    --grid-bg-color: #f0f4f8;
    --h1-color: #486581;
    --x-color: #486581;
    --o-color: #bcccdc;
}
.pink-mode {
    --bg-color: #f6dddd;
    --grid-bg-color: #f0f4f8;
    --h1-color: #ec9daf;
    --x-color: #ec9daf;
    --o-color: #ffcfd7;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    /* light mode
    background-color: #fafafa;
    dark mode
    background-color: #102a43;
    */
    background: var(--bg-color);
}

h1 {
    font-weight: 400;
    /* light mode
    color: #484b6a;
    dark mode
    color: #486581;
    */
    color: var(--h1-color);
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    /* center entire grid */
    place-content: center;
}

.grid-item {
    display: grid;
    border: 0;
    /* light mode
    background-color: #e4e5f1;
    */
    background: var(--grid-bg-color);
    place-items: center;
    font-weight: 700;
    font-size: 75px;
}

.alert {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 25%;
    padding: 50px;
    background-color: lightgray;
    opacity: .8;
    display: none;
    place-content: center;
    border-radius: 25px;
    /*font-size: large;*/
}

.reset-button, .light-mode-button, .dark-mode-button, .pink-mode-button {
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 0;
    border-radius: 10px;
    opacity: .6;
}

.reset-button:hover, .light-mode-button:hover, .dark-mode-button:hover, .pink-mode-button:hover{
    opacity: 1;
    cursor: pointer;
}

/* make responsive grid */